ul.navibar {
  margin: 0;
  list-style-type: none;
  overflow: hidden;
  background-color: #333;
}

input, select{
  width: 40%;
  padding: 12px 20px;
  margin: auto;
  box-sizing: border-box;
  font-size: 100%
}

ul.navibar li {
  float:left;
}

ul.navibar li a {
  display: inline-block;
  color: #F2F2F2;
  text-align: center;
  padding: 20px 18px;
  text-decoration: none;
  transition: 0.3s;
  border: 0px solid black;
  border-radius: 8px;
  font-size: 20px;
}

ul.navibar li a:hover {
  background-color: #555;
}

.info {
  width: 25%;
  margin: 5px;
  padding: 5px;
  border: 2px solid black;
  border-radius: 4px;
  font-size: 18px;
}

h1 {
  padding: 2% 15% 5% 40%;
  font-size: 38px;
  margin: auto;
  color: #0c265b;
}
h2 {
  padding: 0% 0% 0% 40%;
  margin: auto;
  color: #0c265b;
}

table {
  padding: 2%;
  margin: auto;
  border: 2px solid black;
  outline-color: #7b7777;
  font-size: 2em;
  width: 45%;
}

table td {
  margin: 0 15px;
  font-size: 18px;
  letter-spacing: 1px;
}

table th {
  padding: 10px 30px;
  letter-spacing: 2px;
}

a, a:visited {
  text-decoration: none;
  color: #000;
}

a:hover {
  text-decoration: underline;
}

.to_button a:hover {
  background-color: #555;
  margin: auto;
}

body {
  padding: 25px;
}

.tables {
  width: inherit;
}

.to_button a {
  color: #FFF;
  display: inline-block;
  background-color: #333;
  text-align: center;
  padding: 16px 45%;
  text-decoration: none;
  transition: 0.3s;
  border: 1px solid black;
  border-radius: 8px;
  font-size: 18px;
}
.to_button {
  width: 45%;
  margin: auto;
  padding: 2%;
}



/*
* This is a manifest file that'll be compiled into application.css, which will include all the files
* listed below.
*
* Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
* or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
*
* You're free to add application-wide styles to this file and they'll appear at the bottom of the
* compiled file so the styles you add here take precedence over styles defined in any styles
* defined in the other CSS/SCSS files in this directory. It is generally better to create a new
* file per style scope.
*
*= require_tree .
*= require_self
*/
